.App {
  font-family: sans-serif;
  text-align: center;
}

header {
  width: 40%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
